.icon-large {
  font-size: 169px;
}

.resume-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 83vh;
  justify-content: center;
}

.download-resume {
  color: #0000cc
}
