.tronitron-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  justify-content: center;
}

.tronitron-wrapper h3 {
  margin: 8px;
}

.introduction {
  text-align: justify;
}

.btn-wrapper {
  display: flex;
}

.btn-wrapper button {
  margin: 8px;
}

.avatar-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.avatar-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.avatar-social {
  width: 100px;
  margin: 0 auto;
  display: flex;
  font-size: 32px;
  justify-content: space-around;
  align-content: center;
}

@media (max-width: 450px) {
  .avatar-grid {
    flex-direction: column;
    padding: 32px 0;
  }

  .avatar-canvas {
    border: 1px solid #cacaca;
    margin-top: 16px;
    border-radius: 4px;
  }
}

.tron-linkedin {
  color: black;
}

.tron-linkedin-control {
  animation: rotate 3s ease forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

.tron-github {
  color: black;
}

.tron-github-control {
  animation: rotateGit 3s ease forwards;
}

@keyframes rotateGit {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-1080deg);
  }
}

.tron-linkedin:hover {
  color: black;
}

.tron-github:hover {
  color: black;
}
