/* .service-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 16px;
  row-gap: 16px;
} */

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 8px;
  row-gap: 8px;
}

.card-wrapper {

  border-radius: 4px;
  padding: 8px;
}

.card-icon-title {
  display: flex;
  font-size: 18px;
}

.card-dot {
  border: 1px solid;
  border-radius: 50%;
  margin: 0 8px;
  min-width: 12px;
  min-height: 12px;
  cursor: pointer;
}

.card-dot-selected {
  background-color: #0e6efb;
  border-radius: 50%;
  margin: 0 8px;
  min-width: 12px;
  min-height: 12px;
  cursor: pointer;
}

.dot-wrapper {
  justify-content: center;
  padding: 8px;
  display: flex;
}

@media (max-width: 750px) {
  .card-grid {
    grid-template-columns: repeat(1, auto);
    row-gap: 32px;
  }
}

.card-wrapper.dark {
  border: 1px solid blue;

}

.card-wrapper.light {
  border: 1px solid #cacaca;
}
